<% provide(:title, 'A propos') %>
<h1>A propos de nous</h1>
<p>
  À propos de Insat social network<br>
Bienvenue sur Insat social network,<br> 
<h2>Mission</h2>
La mission de Insat social network est simple : connecter les Insatiens du monde entre eux pour améliorer leur echange d'informations. En rejoignant Insat social network, vous avez accès à des personnes, les dernières actualités, des nouvelles et des informations qui vous permettront de devenir meilleur dans votre activité.<br>
<h2>Qui sommes-nous ?</h2><br>
Insat social network  a débuté dans le cadre d'un projet personnel professionel réalisé par KABOUBI Ismail et BOUKHZAR Baha Eddine. <br> 

</p>