<% provide(:title, 'Contact') %>
<h1>Contact us</h1>
<p>
  
Adresse :<br>
INSAT Centre Urbain Nord BP 676 - 1080 Tunis Cedex<br>
Téléphone :<br>
(+216) 20037860<br>
E-mail :<br>
ikaboubi@gmail.com<br>
</p>