<% provide(:title, 'Help') %>
<h1>Aide!</h1>
<p>
  Nous avons le plaisir de vous accueillir sur le réseau social de l’Institut National des Sciences Appliquées et de Technologie. Ce site a été conçu afin de vous permettre d'interconnecter entre eux cher Insatiens.
À l'avant-garde de la technologie, dans son campus ultramoderne prés du centre- ville de Tunis, l'Institut offre un environnement propice à une vie étudiante des plus stimulantes. Spécialisé en génie d'application, l'INSAT offre des programmes d'enseignement conçus de façon à répondre adéquatement aux besoins de l'industrie.
La création de l'Institut National des Sciences Appliquées et de Technologie, école de formation scientifique et technologique de haut niveau, répond à la volonté de la Tunisie de se doter d'un instrument essentiel à son développement économique et social.
L'INSAT est créé dans le cadre de la coopération culturelle , scientifique, technique et financière entre la Tunisie et la France.
L'approche spécifique de l'INSAT, son partenariat unique avec le milieu industriel, ses projets de coopération internationale avec de nombreux pays et les activités de recherche appliquée de ses professeurs lui ont permis de se hisser au rang des grandes écoles et facultés de génie de la Tunisie.
Objectifs de L'INSAT
</p>